.btn-outline {
  --black-700: hsla(var(--background) / 1);
  --border_radius: 9999px;
  --transtion: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  transform-origin: center;

  padding: 0.9rem 1.25rem;
  background-color: transparent;

  border: none;
  border-radius: var(--border_radius);
  transform: scale(calc(1 + (var(--active, 0) * 0.1)));

  transition: transform var(--transtion);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-color: var(--black-700);

    border-radius: var(--border_radius);
    box-shadow:
      inset 0 0.5px hsla(266, 36%, 60%, 1),
      inset 0 -1px 2px 0 hsla(0, 0%, 0%, 0.5),
      0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0.75))),
      0 0 0 calc(var(--active, 0) * 0.375rem) hsl(260 97% 50% / 0.75);

    transition: all var(--transtion);
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-color: hsla(260 97% 61% / 0.75);
    background-image: radial-gradient(
        at 51% 89%,
        hsla(266, 45%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
      radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
    background-position: top;

    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
  }

  &:is(:hover, :focus-visible) {
    --active: 1;
  }

  &:active {
    transform: scale(1);
  }

  .dots_border {
    --size_border: calc(100% + 2px);

    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;

    border-radius: var(--border_radius);
    z-index: -10;

    &::before {
      content: "";
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: left;
      transform: rotate(0deg);

      width: 100%;
      height: 2rem;
      background-color: hsl(var(--accent));

      mask: linear-gradient(transparent 0%, white 120%);
      animation: rotate 2s linear infinite;
    }
  }

  .sparkle {
    position: relative;
    z-index: 10;

    width: 1.75rem;

    .path {
      fill: currentColor;
      stroke: currentColor;

      transform-origin: center;

      color: hsl(var(--foreground));

      &:nth-child(1) {
        --scale_path_1: 1.2;
      }
      &:nth-child(2) {
        --scale_path_2: 1.2;
      }
      &:nth-child(3) {
        --scale_path_3: 1.2;
      }
    }
  }

  &:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
  }

  span {
    position: relative;
    z-index: 10;

    background-image: linear-gradient(
      90deg,
      hsla(var(--foreground) / 1) 0%,
      hsla(var(--foreground) / var(--active, 0)) 200%
    );
    background-clip: text;
    color: transparent;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes path {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }
  17% {
    transform: scale(var(--scale_path_1, 1));
  }
  49% {
    transform: scale(var(--scale_path_2, 1));
  }
  83% {
    transform: scale(var(--scale_path_3, 1));
  }
}

.btn-rgb {
  --m: 1.5rem;

  --red: #ff6565;
  --pink: #ff64f9;
  --purple: #6b5fff;
  --blue: #4d8aff;
  --green: #5bff89;
  --yellow: #ffee55;
  --orange: #ff6d1b;

  border: calc(0.08 * var(--m)) solid transparent;
  position: relative;
  color: #f3f3f3;
  border-radius: calc(0.7 * var(--m));
  display: flex;
  justify-content: center;
  cursor: pointer;

  background: linear-gradient(#121213, #121213),
    linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),
    linear-gradient(
      90deg,
      var(--orange),
      var(--yellow),
      var(--green),
      var(--blue),
      var(--purple),
      var(--pink),
      var(--red)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;

  .sparkle {
    position: relative;
    z-index: 10;

    width: 1.75rem;

    .path {
      --scale: 1.3;

      fill: currentColor;
      stroke: currentColor;

      transform-origin: center;

      color: #f3f3f3;
      transition: color 500ms ease;

      &:nth-child(1) {
        --scale_path_1: var(--scale);
      }
      &:nth-child(2) {
        --scale_path_2: var(--scale);
      }
      &:nth-child(3) {
        --scale_path_3: var(--scale);
      }
    }
  }

  &:is(:hover, :focus) .sparkle .path {
    color: #f59e0b;
    animation: path 1.5s linear 0.5s infinite;
  }
}

.btn-rgb::before {
  content: "";
  background: linear-gradient(
    90deg,
    var(--orange),
    var(--yellow),
    var(--green),
    var(--blue),
    var(--purple),
    var(--pink),
    var(--red)
  );
  height: 35%;
  width: 80%;
  position: absolute;
  bottom: -20%;
  z-index: -5;
  background-size: 200%;
  animation: runningRGB 2s infinite linear;
  filter: blur(calc(1 * var(--m)));
}
.btn-rgb::after {
  content: "";
  background: linear-gradient(
    90deg,
    var(--orange),
    var(--yellow),
    var(--green),
    var(--blue),
    var(--purple),
    var(--pink),
    var(--red)
  );
  height: 10%;
  width: 60%;
  position: absolute;
  bottom: -20%;
  z-index: -5;
  background-size: 200%;
  animation: runningRGB 2s infinite linear;
  filter: blur(calc(1 * var(--m)));
}

.btn-rgb:hover,
.btn-rgb:hover::before {
  animation: runningRGB 0.5s infinite linear;
}

@keyframes runningRGB {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 2rem;
  }
}

.glow-container {
  --spread: 60;
}

.glow-card {
  --active: 0.15;
  --start: 0;
}

.glow-card:is(:hover, :focus-visible) {
  z-index: 2;
}

.glows {
  pointer-events: none;
  position: absolute;
  inset: 0;
  filter: blur(calc(var(--blur) * 1px));
}

.glows::after,
.glows::before {
  --alpha: 0;
  content: "";
  background: conic-gradient(
    from 180deg at 50% 70%,
    #f626af 0deg,
    #8228ec 72.0000010728836deg,
    #f626af 144.0000021457672deg,
    #0025ba 216.00000858306885deg,
    #f626af 288.0000042915344deg,
    #fafafa 1turn
  );
  background-attachment: fixed;
  position: absolute;
  inset: -5px;
  border: 8px solid transparent;
  border-radius: 12px;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - (var(--spread) * 0.5)) * 1deg),
      #000 0deg,
      #fff,
      #0000 calc(var(--spread) * 1deg)
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: var(--active);
  transition: opacity 1s;
}

.glow-card::before {
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  content: "";
  border-radius: 12px;
  pointer-events: none;
  background: #84738c;
  background-attachment: fixed;
  border-radius: 12px;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from
        calc(
          ((var(--start) + (var(--spread) * 0.25)) - (var(--spread) * 1.5)) *
            1deg
        ),
      #ffffff26 0deg,
      white,
      #ffffff26 calc(var(--spread) * 2.5deg)
    );
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
  opacity: var(--active);
  transition: opacity 1s;
}

.glow-card::after {
  --bg-size: 100%;
  content: "";
  pointer-events: none;
  position: absolute;
  background: conic-gradient(
    from 180deg at 50% 70%,
    #f626af 0deg,
    #8228ec 72.0000010728836deg,
    #f626af 144.0000021457672deg,
    #0025ba 216.00000858306885deg,
    #f626af 288.0000042915344deg,
    #fafafa 1turn
  );
  background-attachment: fixed;
  border-radius: 12px;
  opacity: var(--active, 0);
  transition: opacity 1s;
  --alpha: 0;
  inset: 0;
  border: 2px solid transparent;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from
        calc(
          ((var(--start) + (var(--spread) * 0.25)) - (var(--spread) * 0.5)) *
            1deg
        ),
      #0000 0deg,
      #fff,
      #0000 calc(var(--spread) * 0.5deg)
    );
  filter: brightness(1.5);
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}
#sticky-card-5 {
  --index: 5;
}
#sticky-card-6 {
  --index: 6;
}

.sticky-card {
  /* padding-top: calc(var(--index) * 2.5rem); */
  top: calc(var(--index) * 3.9rem);
}

.animate-wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 50% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.bg-dot {
  --dot-size: 1.25px;
}
@media (min-width: 640px) {
  .bg-dot {
    --dot-size: 2px;
  }
}

.bg-dot:after {
  content: "";
  animation: dotScroll 16s linear infinite;
  background-image: radial-gradient(
    circle,
    hsla(var(--muted)) var(--dot-size),
    transparent 0
  );
  background-size: calc(14.2857142857% - 1px) 100px;
  background-position: 5px 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

@keyframes dotScroll {
  0% {
    background-position-y: 140px;
  }

  to {
    background-position-y: 0;
  }
}

.bg-dot:after {
  position: absolute;
  inset: 0;
  z-index: -10;
}

@media (min-width: 768px) {
  .bg-dot:after {
    background-size: calc(8.3333333333% - 1px) 140px;
  }
}

@media (min-width: 768px) {
  .bg-dot:after {
    background-size: calc(8.3333333333% - 1px) 140px;
  }
}

@media (min-width: 640px) {
  .bg-dot:after {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .bg-dot:after {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.bg-dot:after {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 360px) {
  .bg-dot:after {
    max-width: 360px;
  }
}

@media (min-width: 400px) {
  .bg-dot:after {
    max-width: 400px;
  }
}

@media (min-width: 640px) {
  .bg-dot:after {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .bg-dot:after {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .bg-dot:after {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .bg-dot:after {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .bg-dot:after {
    max-width: 1536px;
  }
}
